<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Category</h1>
<p>
    <a href="/category/list">Back to category list</a>
</p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/category/save}" th:object="${category}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create Category"></td>
            </tr>
        </table>
    </form>
</body>
</html>