<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/province/create">Create new province</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="province:${provinces}">
        <tr>
            <td th:text="${province.name}">
            <td><a th:href="@{/province/edit/__${province.id}__}">Edit</a></td>
            <td><a th:href="@{/province/delete/__${province.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
<p><a href="/customer/list">Go to customer list</a></p>
</body>
</html>