<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
<h3>Add Employee</h3>
<p>
    <a href="/employee/list">Back to Employee list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/employee/save}" th:object="${employeeForm}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>BirthDate:</td>
            <td><input type="text" th:field="*{birthDate}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
        <tr>
            <td>Department</td>
            <td>
                <select th:field="*{department}">
                    <option th:each="p : ${departments}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="file" th:field="*{avatar}"></td>
        </tr>
        <td></td>
        <td><input type="submit" value="Save"/></td>
    </table>
</form>
</body>
</html>