<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a th:text="${'Employee in department ' + department.name}"></a></h3>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Birth Date</td>
        <td>Address</td>
        <td>Avatar</td>
        <td>Salary</td>
        <td>Department</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    <th:block th:each="employee:${employees}">
        <tr>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.birthDate}"></td>
            <td th:text="${employee.address}"></td>
            <td><img width="50px" height="50px" th:src="@{'/image/' + ${employee.avatar}}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.department.name}"></td>
            <td><a th:href="@{/employee/edit/__${employee.getId()}__}">Edit</a></td>
            <td><a th:href="@{/employee/delete/__${employee.getId()}__}">Delete</a></td>
            <td><a th:href="@{/employee/view/__${employee.getId()}__}">View</a></td>
        </tr>
    </th:block>
</table>

</body>
</html>