<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<p>
    <a href="/Post/list">Blog List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/Post/save}" th:object="${post}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
        <tr>
            <td>Writer:</td>
            <td><input type="text" th:field="*{writer}"></td>
        </tr>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>
