<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Receptionist</title>
</head>
<body>
<h3>Remove Receptionist</h3>
<p>
    <a th:href="@{/receptionist/list}">
        Back to receptionist list
    </a>
</p>

<form th:action="@{/receptionist/delete}" th:object="${receptionist}" method="post" enctype="multipart/form-data">
    <p><input th:type="hidden" th:field="*{id}"></p>
    <p>Name:<a th:text="*{name}"></a></p>
    <p>Age:<a th:text="*{age}"></a></p>
    <p>Address:<a th:text="*{address}"></a></p>
    <p>Hobby:<a th:text="*{hobby}"></a></p>
    AVATAR:<img width="150px" height="200px" th:src="@{'/image/' + ${receptionist.avatar}}">
    <input type="submit" value="Remove">
</form>

</body>
</html>