<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View City</title>
</head>
<body>
<a href="/city/list"> Go to city list</a>
<h1>View Detail</h1>
<table>
    <tr>
        <td>Name:</td>
        <td th:text="${city.name}"></td>
    </tr>
    <tr>
        <td>Nation:</td>
        <td th:text="${city.nation.name}"></td>
    </tr>
    <tr>
        <td>Population:</td>
        <td th:text="${city.population}"></td>
    </tr>
    <tr>
        <td>Area:</td>
        <td th:text="${city.area}"></td>
    </tr>
    <tr>
        <td>GDP:</td>
        <td th:text="${city.GDP}"></td>
    </tr>
    <tr>
        <td>description:</td>
        <td th:text="${city.description}"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a th:href="@{/city/edit/__${city.id}__}">Edit</a> |
            <a th:href="@{/city/delete/__${city.id}__}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>