.form_container{
  margin : 0 auto;
  width:600px;
}

form {
  background: white;
  width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

button:hover{
  background: #191cd5;
}
