<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete department</title>
</head>
<body>
<h1>Delete department</h1>
<h2>Are you sure??</h2>
<p><a href="/department/list">department list</a></p>
<form th:action="@{/department/remove}" th:object="${department}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${department.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete department"></td>
        </tr>
    </table>
</form>
</body>
</html>