<div *ngIf="message"> {{ message }} </div>

<form *ngIf="book" #bookForm="ngForm" (ngSubmit)="edit(bookForm)">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">title</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td scope="row">
        <input type="number" name="id" [(ngModel)]="book.id"/>
      </td>
      <td scope="row">
        <input type="text" name="title" [(ngModel)]="book.title"/>
      </td>
      <td scope="row">
        <input type="text" name="author" [(ngModel)]="book.author"/>
      </td>
      <td scope="row">
        <input type="text" name="description" [(ngModel)]="book.description"/>
      </td>
      <td scope="row">
        <button type="submit">Add</button>
      </td>
    </tr>
    </tbody>
  </table>

</form>
