<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/customer/create">Create new customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customers:${customers}">
        <tr>

            <td th:text="${customers.getFirstName()}"></td>
            <td th:text="${customers.getLastName()}"></td>
            <td><a th:href="@{/customer/edit/__${customers.id}__ }">Edit</a></td>
            <td><a th:href="@{/customer/remove/__${customers.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>