<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p><a href="/customer/list">Back to customer list</a></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/update}" th:object="${customer}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>Province</td>
            <td>
                <select name="province" >
                    <option th:each="province:${provinces}" th:value="${province.id}"
                            th:text="${province.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="update"></td>
        </tr>
    </table>
</form>
</body>
</html>